@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');
@font-face {
    font-family: 'Ownglyph_UNZ-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/Ownglyph_UNZ-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.lunch{
    font-family: "Jua", sans-serif;
}

.dinner{
    font-family: "Hi Melody", sans-serif;

}

.morning{
    font-family: 'Ownglyph_UNZ-Rg';
}

body{
    width: 100vw;
    height: 300vh;
    background-color: skyblue;
}

.menu{
    padding: 20px;
    border: 3px solid pink;
    width: fit-content;
    font-size: 30px;

    /* top or bottom: 0px */
    /* left or right: 0px */
    position: fixed;
    right: 100px;
}